/* CSS Document */

.cf:before, .cf:after{ content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; } /* For IE 6/7  */

.fl{ float:left; }
.fr{ float:right; }
img.fl{ padding:0 5px 5px 0; }
img.fr{ padding:0 0 5px 5px; }
.clr{ clear:both !important;}
.hidden{ display:none !important;}
.hide{display:none;}
.text-right{
    text-align:right;
}
.bt{ border-top:1px solid #476578 !important;}
.br{ border-right:1px solid #476578 !important;}
.bb{ border-bottom:1px solid #476578 !important;}
.bl{ border-left:1px solid #476578 !important;}

.empty, .date{ color:#999; }
.error{ color:#e43434; }

.size1{ font-size:0.8em !important;}
.size2{ font-size:0.9em !important;}
.size3{ font-size:1.1em !important;}
.size4{ font-size:1.2em !important;}
.size5{ font-size:1.4em !important;}
.size6{ font-size:1.8em !important;}
.size7{ font-size:2em !important;}

.shadow{ border:1px solid #a4c6dd; box-shadow:#999 0 0 1px; }

.pagecontent table.noborder, 
.pagecontent table.noborder td,
.pagecontent table.noborder th{ border:0 none; }
.pagecontent .hidden_in_pagecontent{ display:none; }

.color-black, .color-black:before, .color-black-hover:hover,.color-black-hover:hover:before{ color:#000 !important;}
.color-orange, .color-orange:before, .color-orange-hover:hover,.color-orange-hover:hover:before{ color:#ff6633 !important;}
.color-purple, .color-purple:before, .color-purple-hover:hover,.color-purple-hover:hover:before{ color:#9999cc !important;}
.color-green, .color-green:before, .color-green-hover:hover,.color-green-hover:hover:before{ color:#99cc33 !important;}
.color-blue, .color-blue:before, .color-blue-hover:hover,.color-blue-hover:hover:before{ color:#0066cc !important;}
.color-white, .color-white:before, .color-white-hover:hover, .color-white-hover:hover:before{ color:#fff !important;}
.color-cyan, .color-cyan:before, .color-cyan-hover:hover, .color-cyan-hover:hover:before{ color:#63acdc !important;}