/* CSS Document */

/* IE PNG FIX*/
img, input { behavior: url(iepngfix/iepngfix.htc) }
html, body{ height: 100%; }
body{ min-height:100%; height: 100%; padding:0; margin:0; }

/* ПРИЖАТИЕ ФУТЕРА */
html, body{ height: 100%; }
body{ min-height:100%; height: 100%; padding:0; margin:0; min-width:1000px; background:url(images/body_bg_simple.png) repeat-y top center; }
.clr{ clear:both;}
abbr{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
}
form label abbr {
    position: absolute;
    z-index: 5;
    left: 4%;
    top: 10px;
    line-height: 18px;
    font-size: 12px;
    color: #bcbcbc;
    width: 94%;
}
footer{ height:175px; margin-top:-180px; }

/* Контейнер всего содержимого кроме футера */
/* 100% высоты контейнера относительно клиентской области и контента для IE, FF, Opera */

/* блок гарантирующий, что область на коотрую накладывается div#footer в div#wrapper1 останется пустой, */
/* наличие этого блока устанавливает высоту #wrapper_all 100% относительно клиентской области и контента в FF, Opera */
#footer_guarantor { height: 170px; clear: both; }
/* /ПРИЖАТИЕ ФУТЕРА */


#wrapper_all{height: auto !important; min-height:100%; height: 100%; width:960px; margin:0px auto; padding:0px 10px;}
/*div#wrapper_all:after {content: ""; position: absolute; top: 0; margin-left: -10px; display: block; height: 1250px; width: 980px; background: rgba(255,255,255,0.50); z-index: -1;}*/

#wrapper_header{  }
#wrapper{ }
.wrapper{ width:960px; margin:0 auto; position:relative; background:#fff; }

.top_panel{ position:absolute; width:100%; height:89px; top:-1px; left:1px;  background:url(images/top_panel.svg) no-repeat top center; background-size:2560px 89px; z-index:0; }

header{ height:88px; position:relative;color:#999; }
header:after{content:"";position:absolute; width:100%; height:54px; background:url(images/header_shadow.png) no-repeat bottom center; top:51px; z-index:1; opacity:.7;}
header .wrapper{ height: 100%; background:#fff url(images/header_bg.png) no-repeat center top; background-size:101% auto;}
header a, header a:hover{ }
header .logo{ position:absolute; top:6px; left:10px; display:block; width:172px;}
header .logo img{width:100%;}
header .login{ position:absolute; top:14px; right:0px; font-size:12px; line-height:11px; padding:4px 5px 2px; border-left:1px solid #999; font-weight:bold;}
header .login .not_log,header .login .log{}
header .login .not_log:before{ content:""; width:20px; height:17px; background: url(images/logout_icon.svg);
background-size: 100%; color:#959595; font-size:18px; line-height:10px; font-family:'damir'; position:absolute; left:-25px; top:0px;}
header .login .log:before{ content:''; background:url(images/login_icon.svg); width:17px; height:17px; background-size:100%; position:absolute; left:-22px; top:0px;}
header .login .log #personal{ width: 100px; margin-right:25px;}
header .login .log #logout{ display:inline-block; width:20px; height:17px;background:url(images/logout_icon.svg); background-size:100%; position:absolute; right:0px; top:1px;}

header .login a{ display:inline-block; margin:0px 5px; color:#999;}
header .login a:hover{color:#63acdc; text-decoration: none;}
header .social{ position:absolute; left:330px; top:15px; color:#969696; }
header .social a{ display:inline-block; font-family: 'damir';color:#969696; font-size:20px; text-decoration:none; line-height:16px; margin-right:30px; }
header .social a.tw:before{content: '\e80f';}
header .social a.tw:hover{color:#5292c7;}
header .social a.google:before{content: '\e810';}
header .social a.google:hover{color:#c8573b;}
header .social a.vk:before{content: '\e80e';}
header .social a.vk:hover{color:#4d75a3;}
header .social a.fb:before{content: '\e813';}
header .social a.fb:hover{color:#475d87;}

#left_sidebar .email_res .email{ position:relative; display:inline-block; top:2px;}
#left_sidebar .email_res .email:after{ position:absolute; content:''; display:block; width:90px; height:21px; right:-2px; top:-2px; padding:2px 37px 2px 11px;border-radius:15px; z-index:1;
background: #b3b3b3; /* Old browsers */
background: -moz-linear-gradient(top,  #b3b3b3 0%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b3b3), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b3b3b3 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b3b3b3 0%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b3b3b3 0%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b3b3b3 0%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}
header .menu_block{ position:absolute; top:44px; left:0px; width:100%; background:#cfcfcf; height:44px; z-index:20;}
header .menu_block:after{ content:''; display:block; clear:both; }
header .menu_block .filter{ padding:5px 24px; padding-left:18px; font-size:12px; line-height:15px; text-align:center; width:528px; float:left;}
header .menu_block .filter .all{width:30px}
header .menu_block .filter a{ display:inline-block; min-width:11px; padding:0px 2px 0px; color:#696969; text-decoration:none; background:#f3f3f3; margin:0px -1px; }
header .menu_block .filter .top{ padding-bottom:0;}

header .menu_block .filter a:hover{ color:#63acdc;}
header .menu_block .filter a:active{background:#fff;color:#696969;} 
header .menu_block .filter a.current{background:#fff;color:#696969; pointer-events:none; font-weight: bold;}
header .menu_block .filter a.not{ color:#fff; cursor:default;}
header .menu_block .filter a.not:active{ color:#fff; cursor:default; background: #F3F3F3;}

header .menu_block .minicart{ display:block; text-decoration:none; color:#999; margin-top:12px; float:left; padding-left:10px; border-left:1px solid #999; margin-left:50px; position:relative;}
header .menu_block .minicart:before{ content:'\e811'; display:block; position:absolute; left:-25px; top:-3px; font-family:'damir'; font-size:19px; color:#959595;}
header .menu_block .minicart:hover:before{
    color:#63acdc;
}
header .menu_block .minicart .total{
    width:18px; height:18px; text-align:center; font-size:12px; line-height:18px; background:#fff; color:#63acdc; border-radius:10px;
    -webkit-box-shadow: 0 0 15px 0 rgba(99,172,220, 0.75);
    -moz-box-shadow:    0 0 15px 0 rgba(99,172,220, 0.75);
    box-shadow:         0 0 15px 0 rgba(99,172,220, 0.75);
}

#left_sidebar{ width:172px; padding: 5px 20px 50px 10px; float:left; margin-top:10px}
#middle{ position:relative; width:758px; float:left; padding-top:5px;; margin-top:10px}
#game_sidebar{ width:172px; float:left; padding-top:5px;; margin-top:10px}
.watch_dogs #left_sidebar, .watch_dogs #middle, .watch_dogs #game_sidebar, .watch_dogs #cart_sidebar{margin-top:5px; }
.bottom_banner{ width:100%; height:457px; background:url(images/footer_bg1.jpg) no-repeat center top; border-top:2px solid #ff6e02; }
footer{ position:relative; min-width:1000px;}
footer:after { content: ""; position: absolute; display: block; width: 100%; height: 100%; background: url(images/footer_shadow.png) no-repeat top center; background-size: 1500px; top:-12%; left:0; z-index: 0;}
footer:before { content: ""; display: block; position: absolute; top: 5px; width: 100%; height: 180px; background: #FFF; z-index: -3;}

footer .f_box{ position: relative;background:url(images/footer.png) no-repeat top center; background-size:2560px 100%; z-index:10; height:180px; width:100%; padding-top:5px; }
footer .wrapper{ height:100%;  background:none; z-index:10;}
footer .wrapper .payments{ text-align:center; position:relative; z-index:10; padding-top:40px;}
footer .wrapper .payments a, footer .wrapper .payments span{ display:inline-block; vertical-align:middle; margin:0px 5px;}
footer .to_top{position: relative; width: 30px; top: 6%; left: 465px;}
footer .to_top a{width: 30px; height: 30px; display: block; border-radius: 50%;}
footer .wrapper .copy{ position:relative; margin-top:33px; line-height:15px; text-align:center; color:#808080; text-shadow: 0px 1px 0px rgba(235, 235, 237, 1); z-index:10; }


#wrapper_all.watch_dogs:after{content:""; background:none;}
header.watch_dogs{margin-bottom:10px;}
header.watch_dogs.noimage{
    margin-bottom: -20px;
    height: 108px;
}
header.watch_dogs:after{z-index:-1;}
header.watch_dogs .wrapper:after{background: rgba(255,255,255,0.5);content: ""; position: absolute; width: 980px; height: 98px; left: -10px; top: 0; margin: 0 auto; z-index:-1}
a.watch_dogs{ display: block; position:relative; top:0; left:-10px; width:980px; height:90px;
transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;}
a.watch_dogs:hover{ cursor:pointer; }
.wrapper.watch_dogs { margin-top: 10px;min-height: 1160px}
.wrapper.watch_dogs.noimage{margin-top:0}
.wrapper.watch_dogs:before {content: ""; position: absolute; top: -10px; left: -10px; width: 980px; min-height: 1180px; background: rgba(255,255,255,0.5); z-index:-1;}
.wrapper.watch_dogs.noimage:before{
    top: 10px;
}
.wrapper-border {width: 980px; height: auto; margin: auto; background: rgba(255,255,255,0.50);}
footer.watch_dogs.noimage{
    margin-top:-180px;
}
.wrapper-border.watch_dogs{
    background: none;
}