/* ==================== #mainmenu ==================== */
.mainmenu{ display:block; float:left; height:100%; margin-left:10px;}
.mainmenu ul{ padding-top:10px;}
.mainmenu ul li{ display:inline-block; text-transform:uppercase; margin-right:32px;}
.mainmenu ul li a{ display:block; text-decoration:none; color:#696969; font-size:12px;}

#left_sidebar .game_menu{}
#left_sidebar .game_menu .title{ height:34px; line-height:34px; text-transform:uppercase; background:#cfcfcf; border-bottom:1px solid #b3b3b3; padding-left:28.25px; font-size:12px; text-shadow: 0px 1px 0px rgba(102, 102, 102, 1); color:#fff; font-weight:bold; 
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
#left_sidebar .game_menu ul{ display:block; margin-bottom:1px;}
#left_sidebar .game_menu ul li{ display:block; height:24px; border-top:1px solid #fff; border-bottom:1px solid #e6e6e6;}
#left_sidebar .game_menu ul li a{ display:block; line-height:24px; text-decoration:none; font-size:12px; color:#676767; padding-left:52px; position:relative; background:#f3f3f3;}
#left_sidebar .game_menu ul li a:active:before{ color:rgba(239,239,239,1.00) ;}
#left_sidebar .game_menu ul li a:before{ display:block; position:absolute; left:0px; top:0px; width:52px; height:24px; text-align:center; line-height:24px; font-family:'damir'; font-size:20px; color:#cfcfcf;}
#left_sidebar .boards_menu{ margin-bottom:33px;}
#left_sidebar .boards_menu .title{ height:34px; line-height:34px; text-transform:uppercase; background:#cfcfcf; border-bottom:1px solid #b3b3b3; padding-left:28.25px; font-size:12px; text-shadow: 0px 1px 0px rgba(102, 102, 102, 1); color:#fff; font-weight:bold; 
}
#left_sidebar .boards_menu ul{ display:block; position: relative; z-index:10}
#left_sidebar .boards_menu ul:after{ content:''; display:block; position:absolute; left: 0%; height: 35px; width: 100%; z-index:-1; background: url(images/shadow_menu.png) no-repeat center -13px; background-size: 100%;}
#left_sidebar .boards_menu ul:before{ position:absolute; top:100%; left:0px; width:100%; content:''; display:block; height:13px; border-top:1px solid #fff; background:#cfcfcf;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;}
#left_sidebar .boards_menu ul li{ display:block; height:24px; border-top:1px solid #fff; border-bottom:1px solid #e6e6e6;}
#left_sidebar .boards_menu ul li a{ display:block; line-height:24px; text-decoration:none; font-size:12px; color:#676767; padding-left:52px; position:relative; background:#f3f3f3;}
#left_sidebar .boards_menu ul li a:before{ display:block; position:absolute; left:0px; top:0px; width:52px; height:24px; text-align:center; line-height:24px; font-family:'damir'; font-size:18px; color:#cfcfcf;}
#left_sidebar ul li.active{ border-bottom: 1px solid #f9f9f9;}
#left_sidebar ul li.active a{background:#f9f9f9; cursor:default;font-weight:bold}
#left_sidebar ul li.active a:hover{background:#f9f9f9; cursor:default; color: #676767 !important;}
#left_sidebar ul li.active a:before{color: #eee !important;}
#left_sidebar .boards_menu ul li a.i-damir-ps:before{
    font-size: 30px !important;
}
#right_sidebar{ width:172px; float:left; margin-left:20px;}
#right_sidebar .top10 .title{ height:34px; line-height:34px; text-transform:none; background:#cfcfcf; border-bottom:1px solid #b3b3b3; padding-left:28.25px; font-size:12px; text-shadow: 0px 1px 0px rgba(102, 102, 102, 1); color:#fff; font-weight:bold; 
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#right_sidebar .top10 ol { display: block; position: relative; height:227px; z-index:10; background:#f3f3f3; border-bottom:1px solid #b3b3b3; border-top:1px solid #fff;}

#right_sidebar .top10 ol li{ height:22px; list-style:decimal outside; padding-left:0; margin-left: 30px; background:#f3f3f3; color:#969696;}
#right_sidebar .top10 ol li a{white-space: nowrap; word-wrap: normal; word-break: normal;line-height:22px; height:22px; text-decoration:none; font-size:12px; color:#969696; position:relative; background:#f3f3f3;}
#right_sidebar .top10 ol li a:hover{ color:#63acdc;}


#right_sidebar .top10 .right_sidebsr_footer{ position: relative;}
#right_sidebar .top10 .right_sidebar_border{display: block; position:relative; z-index: 10; height: 13px;background: #cfcfcf; border-top: 1px solid #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}

#right_sidebar .top10 .right_sidebsr_footer:after{content:''; display:block; position:absolute; top: -83%; left: 0%; height: 35px; width: 100%; z-index:1; background: url(images/shadow_menu.png) no-repeat center top;; background-size: 100%;}

		 
#cart_sidebar{ width:172px; float:left; margin-left:20px; padding-top:5px; margin-top: 10px; position:relative;}
#cart_sidebar .block{ margin-bottom:19px; position:relative;}
#cart_sidebar .block .title{ height:34px; line-height:34px; background:#cfcfcf; border-bottom:1px solid #b3b3b3; padding-left:28.25px; font-size:12px; text-shadow: 0px 1px 0px rgba(102, 102, 102, 1); color:#fff; font-weight:bold; 
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}		 
#cart_sidebar .block ul{ position:relative; display:block; padding-top:7px; padding-bottom:2px; background:#f3f3f3; border-top:1px solid #fff; border-bottom:1px solid #cfcfcf; z-index:10;}
#cart_sidebar .block ul li{ height:22px; list-style:none; padding-left:15px; background:#f3f3f3;}
#cart_sidebar .block ul li a{ display:block; line-height:22px; text-decoration:none; font-size:12px; color:#969696; position:relative; background:#f3f3f3;}
#cart_sidebar .block ul li a:hover{ color:#63acdc;}
#cart_sidebar .actions.block ul li a{ display:inline-block; text-align:left; width:100px;padding-right:15px;}
#cart_sidebar .actions.block ul li span.percent{ display:inline-block;line-height:22px; text-decoration:none; font-size:12px; color:#676767; padding-right:15px; text-align:right;}

#cart_sidebar .sidebar_footer{ position: relative;}
#cart_sidebar .sidebar_border{display: block; position:relative; z-index: 10; height: 13px;background: #cfcfcf; border-top: 1px solid #fff; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
#cart_sidebar .sidebar_footer:after{content:''; display:block; position:absolute; top: -83%; left: 0%; height: 35px; width: 100%; z-index:1; background: url(images/shadow_menu.png) no-repeat center top;; background-size: 100%;}