Body{ font-family: 'Trebuchet MS', sans-serif;font-size:12px; line-height:24px; }
body.mceContentBody{ width:auto; height:auto !important; }
#wrapper, .mceContentBody{}

.pagecontent, .mceContentBody{}
.pagecontent ul, .mceContentBody ul,
.pagecontent ol, .mceContentBody ol{ margin:15px 0; padding-left:40px; list-style:disc; }
.pagecontent table, .mceContentBody table{ border:1px solid #333; border-collapse:collapse; }
.pagecontent td, .mceContentBody td,
.pagecontent th, .mceContentBody th{ border:1px solid #333; padding:3px; }

*{ margin:0; padding:0; }

table, img, div, a { border:0; }
table, td, th, div, img{
	border:none 0; border-spacing:0px; padding:0; margin:0;
	outline:none;
}

p{ margin:12px 0; }
a{ border:none;	}
a:hover{ }

hr{ border:none; background:#999; height:1px; margin:10px 0; }

.pagetitle{ color:#cfcfcf; margin-bottom:10px; padding-top:5px; position:relative; z-index:20;}
.pagetitle h1{ font-size:21px; line-height:21px; margin:0px; padding:0px; font-weight:normal;}

#middle{ color:#969696}
#middle .mymoney strong{ color:#676767;}
#middle.cartPage{ width:555px; float:left; color:#969696;}
#middle .mymoney{ margin-bottom:17px;}

.cartPage .cartTable{}
.cartPage .cartTable table{ width:100%;}
.cartPage .cartTable table tr:nth-of-type(2n+1){ background:#f7f7f7;  color:#676767;}
.cartPage .cartTable table td, .cartPage .cartTable table th{ height:26px;}
.cartPage .cartTable table th.name{ text-align: left; padding-left:80px;}
.cartPage .cartTable table th.prices{ text-align:right; padding-right:30px;}
.cartPage .cartTable table td.title{ width:62%; padding-left:20px;}
.cartPage .cartTable table td.title a{ text-decoration:none; color:#969696;}
.cartPage .cartTable table td.price{ text-align:right; padding-right:20px; width:19%; color:#969696;}
.cartPage .cartTable table td.count{ width:10%; text-align:center;}
.cartPage .cartTable table td.count div{ position:relative; width:20px; height:20px; padding-left:20px; margin:0px auto;}
.cartPage .cartTable table td.count div span{ position:absolute; display:block; width:0px; height:0px; left:0px; cursor:pointer;}
.cartPage .cartTable table td.count div span.plus{ top:5px; border-bottom:7px solid #cfcfcf; border-left:5px solid transparent;  border-right:5px solid transparent;}
.cartPage .cartTable table td.count div span.minus{ bottom:2px; border-top:7px solid #cfcfcf; border-left:5px solid transparent;  border-right:5px solid transparent;}
.cartPage .cartTable table td.count div input{ display:block; width:20px; height:20px; border:1px solid #f7f7f7; text-align:center; border-radius: 2px; color: #969696; }

.cartPage .cartTable table td.removeItem{ width:58px; text-align:left; padding-left:5px;}
.cartPage .cartTable table td.removeItem a{ display:block; width:15px; height:16px; background:url(images/remove_icon.svg) no-repeat center;}

.cartPage .totals{ text-align:right; padding-top:20px; margin-bottom:15px;}
.cartPage .totals .label{ display:inline-block; height:26px; line-height:26px; vertical-align:top;}
.cartPage .totals .value{ display:inline-block; width:80px; padding-right:30px; line-height:26px; vertical-align:top;}
.cartPage .totals .promo{ display:inline-block; width:247px; margin-right:39px;}
.cartPage .totals .promo input[type="text"]{ height:21px; width:71px; padding:0px 5px; font-size:12px; color:#969696; border:1px solid #cfcfcf; border-radius:2px;}
.cartPage .totals .promo input[type="button"]{ width:90px; height:23px; margin:0; display:inline-block;}

.cartPage .payments{ border:1px solid #f7f7f7; margin-bottom:20px; border-radius:5px;}
.balanse .payments{ width:555px; margin-bottom:30px; padding:8px 0 14px 0; border:1px solid #f7f7f7; border-radius:5px;}
.cartPage .payments table th.pay_method { width:255px; padding-right:70px;}
.payments table td, .payments table th{color:#cfcfcf;}
.payments table th{ color:#676767;}
.payments table th.com{ width:90px;}
.payments table th#check{ width:41px;}
.payments table th#pay_type{ width:279px;}
.payments table td.com{ text-align:center; width:84px}
.payments table td.logo{ width:107px; height:30px}
.payments table td.logo .cell{ position:relative; display:table-cell; width:100px;/* height:35px; */text-align:center; vertical-align:middle; }
.payments table td.logo img{ vertical-align:middle; display: inline}
.payments table td.input{ width:41px; text-align:center;}
.payments table td.input span{ display:inline-block; width:4px; height:4px; padding:5px; border-radius:10px; border:1px solid #cfcfcf; cursor:pointer; position:relative;background:#fff; vertical-align:middle;}
.payments table td.input span.checked:before{ content:''; display:block; width:4px; height:4px; background:#cfcfcf; border-radius:4px;}
.payments table th.cont{text-align:left; padding-left:109px;}
.payments table td.cont{width:279px;}
.payments table td.com{width:84px;}

.cartPage .paymentTotal{ padding-left:266px; }
.cartPage .paymentTotal .com{ height:18px;}
.cartPage .paymentTotal .total  span { margin:2px 0; color:#676767;}
.cartPage .paymentTotal .total .pay_summ{width:100px; margin-left:82px;}

.cartPage .paymentTotal .com .gray, .cartPage .paymentTotal .total .gray{position:relative; top:-20px; left:187px; width: 100px; background: #efefef; border-radius: 2px; text-align: center;}
.paymentTotal .total .gray input{width: 92px; margin-top: 10px; padding:0 5px;}

.personalPage{ width:555px; float:left;}
.personalPage .balans{ font-size:12px; margin:5px 0; color:#969696;}
.personalPage .balans strong{ color:#676767;}
.personalPage table td.icons{text-align: center; padding-right:17px;}
.personalPage table td a{ font-size:12px; color:#969696; display:inline-block;line-height:19px; vertical-align:top;}
.personalPage .links{}
.personalPage .links ul{ list-style:none;}
.personalPage .links ul li{ display:block; height:28px; line-height:28px; padding:1px 0px;}
.personalPage .links ul li a{ font-size:12px; color:#969696; display:inline-block;line-height:28px; vertical-align:top;}
.personalPage .links ul li .image{ height:16px; width:16px; display:inline-block; margin-right:20px;vertical-align:middle;}
.personalPage .links ul li#coin .image{ background:url(images/coinadd_icon.svg) no-repeat center;}
.personalPage .links ul li#referal .image{ background:url(images/referal_icon.svg) no-repeat center;}
.personalPage .links ul li#sale .image{ background:url(images/sale_icon.svg) no-repeat center;}
.personalPage .links ul li#mycart .image{ background:url(images/mycart_icon.svg) no-repeat center;}
.personalPage .links ul li#edit .image{ background:url(images/edit_icon.svg) no-repeat center;}

.catalog_block article h1 {margin: 10px 0 20px 0; font-size: 21px;}

.breadcrumb {width: 100%;  height: 12px; display: inline-block; color: #969696;}
.wrapper > .breadcrumb {z-index: 9999;    margin-top: 10px; margin-left: 8px;}
.breadcrumb ul {padding: 0; margin: 0; height: 12px; list-style: none; display: inline-block;}
.breadcrumb ul li {float: left; height: 12px; padding-right: 20px; margin-right: 6px; line-height: 11px; font-size: 10px; background: url(images/bread_arrow.png) no-repeat center right;}
.breadcrumb ul li:first-child {margin-right: 7px; padding-right: 16px; display: block; margin-top: -3px; background: url(images/bread_arrow.png) no-repeat scroll right 5px;}
.breadcrumb ul li:first-child > a > img {width: 14px;}
.breadcrumb ul li:last-child { border-right: none; background: none;    color: #969696;}
.breadcrumb ul li a {color: #969696;}
.breadcrumb ul li a:hover { text-decoration: none;}

.visa img{height: 12px;}
.masterCard img{height: 21px;}
.webmoney img{height: 14px;}
.kiwi img{height: 35px;}
.mts img{height: 14px;}
.megafon img{height: 13px;}
.yandex img{height: 18px;}
.mousegame img{height: 13px;}

.spos-opl {padding-left:80px; text-align:left;}
