/* CSS Document */

.cf:before, .cf:after{ content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; } /* For IE 6/7  */

.fl{ float:left; }
.fr{ float:right; }
img.fl{ padding:0 5px 5px 0; }
img.fr{ padding:0 0 5px 5px; }
.clr{ clear:both; }
.hidden{ display:none; }

.bt{ border-top:1px solid #476578; }
.br{ border-right:1px solid #476578; }
.bb{ border-bottom:1px solid #476578; }
.bl{ border-left:1px solid #476578; }

.empty, .date{ color:#999; }
.error{ color:#e43434; }

.size1{ font-size:0.8em; }
.size2{ font-size:0.9em; }
.size3{ font-size:1.1em; }
.size4{ font-size:1.2em; }
.size5{ font-size:1.4em; }
.size6{ font-size:1.8em; }
.size7{ font-size:2em; }

.shadow{ border:1px solid #a4c6dd; box-shadow:#999 0 0 1px; }

.pagecontent table.noborder, 
.pagecontent table.noborder td,
.pagecontent table.noborder th{ border:0 none; }
.pagecontent .hidden_in_pagecontent{ display:none; }