/* CSS Document */
input{-webkit-appearance: none;font-family: 'Trebuchet MS', sans-serif;}
textarea{ resize:none; }
:focus { outline: 0; }

input.text,
textarea{
	font-family:inherit;
	border:1px solid #abaea2;
	border-radius:2px;
	background:#FFF;
	height:30px;
	padding:0 5px;
	margin:3px 0;
}
input.text:focus,
textarea:focus{ box-shadow:#777 0 0 3px; }
textarea{ padding:5px; height:120px; }
input.error,
textarea.error{ box-shadow:#F66 0 0 3px; border:1px solid #F66 !important; }
select{ font-family:inherit; }

input.submit{
	cursor:pointer;
	border:1px solid #777;
	border-radius:2px;
	height:25px;
	padding:0 20px;
	margin:8px 0;
}

form{}
form .label{ color:#969696; line-height:26px;}
form input[type="text"]{ display:block; margin-left:20px; margin-bottom:0px; width:150px; height:20px; border:1px solid #cfcfcf; padding:0px 10px; border-radius:5px; color:#969696;}
form input[type="checkbox"]{ display:inline-block; width:15px; height:15px; border:1px solid #cfcfcf; margin-right:10px; vertical-align:middle; -webkit-appearance:checkbox ; background:#fff; }

form input[type="submit"], input[type="button"]{ text-shadow: 0px 1px 0px rgba(0, 51, 102, 1);
display:block; width:auto; height:24px; border:0px; padding:0 10px; padding-bottom:2px; outline:0px; color:#fff; font-size:19px; cursor:pointer; margin-top:30px; border-radius:2px;
background: rgb(102,204,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(102,204,255,1) 0%, rgba(102,150,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,204,255,1)), color-stop(100%,rgba(102,150,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(102,204,255,1) 0%,rgba(102,150,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(102,204,255,1) 0%,rgba(102,150,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(102,204,255,1) 0%,rgba(102,150,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(102,204,255,1) 0%,rgba(102,150,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ccff', endColorstr='#6696cc',GradientType=0 ); /* IE6-9 */}
form input[type="submit"]:hover, input[type="button"]:hover {
background: rgb(128,213,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(128,213,255,1) 0%, rgba(122,163,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,213,255,1)), color-stop(100%,rgba(122,163,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(128,213,255,1) 0%,rgba(122,163,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(128,213,255,1) 0%,rgba(122,163,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(128,213,255,1) 0%,rgba(122,163,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(128,213,255,1) 0%,rgba(122,163,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d5ff', endColorstr='#7aa3cc',GradientType=0 ); /* IE6-9 */}
form input[type="submit"]:active, input[type="button"]:active {
background: rgb(128,213,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(128,213,255,1) 0%, rgba(122,163,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(128,213,255,1)), color-stop(100%,rgba(122,163,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(128,213,255,1) 0%,rgba(122,163,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(128,213,255,1) 0%,rgba(122,163,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(128,213,255,1) 0%,rgba(122,163,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(128,213,255,1) 0%,rgba(122,163,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d5ff', endColorstr='#7aa3cc',GradientType=0 ); /* IE6-9 */}
form input[type="submit"].small, input[type="button"].small{ font-size:14px;}

form textarea{ width:342px; height:105px; display:block; padding:10px; border:1px solid #cfcfcf; margin-left:30px; margin-bottom:10px; border-radius:5px; color:#969696;}

.support form input[type="text"]{margin-bottom:0px; margin-left:20px;}
.support form textarea{margin-left:20px;}
.support form input[type="submit"] {margin-top:10px !important; width:116px !important;}
form .forgot{ display:block; color:#969696; margin-top:12px;}
form .captcha{ float:left;}
form input.captcha{ width:87px !important; margin-left:17px !important; display:inline-block !important; }
form a.captcha{display: block; margin-left:10px; border:1px solid #cfcfcf; border-radius:5px; background: url(/images/capcha.svg); width: 109px; height: 20px;}
form div{ padding:3px 0px;}
form input.login{margin-top:20px; width:68px; font-size:19px !important;}
form input.registration{ margin-top:20px; width:134; font-size: 19px !important;}
.balanse form{ margin-bottom:25px;}

.catalog_block .sorting div.big div.ar{ width: 16px; height: 16px; border-left:1px solid #bcbec0;}
.catalog_block .sorting div.big input{ width: 100px; height: 16px; border-radius: 0; border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-size:12px;}
.catalog_block .sorting div.big ul{width:125px; top:17px; text-align:right; color:#bcbec0; border:1px solid #bcbec0; background:#fff;}
.catalog_block .sorting div.big ul li{height:16px; padding-left:1px; padding-right:23px; line-height: 14px;  }
.catalog_block .sorting div.big ul li:hover{background:none; color:#63acdc;}

.catalog_block .sorting div.small{ margin-left: 5px;}
.catalog_block .sorting div.small div.ar{ width: 16px; height: 16px; border-left:1px solid #bcbec0;}
.catalog_block .sorting div.small input{width:32px; height: 16px; font-size:12px;  padding-left: 2px; padding-right: 0px; border-radius:0;}
.catalog_block .sorting div.small ul{top:17px; width:34px; color:#bcbec0; border:1px solid #bcbec0; background:#fff;}
.catalog_block .sorting div.small ul li{height:16px; padding-left:3px; line-height: 14px;  }
.catalog_block .sorting div.small ul li:hover{background:none; color:#63acdc;}

.partnership .calendar_filter form input[type="submit"]{ margin-left:8px;}
.partnership .calendar_filter form input[type="text"]{ padding:0 4px;}

.popolnenie {display:inline-block!important; margin-left:8px!important; margin-right:10px!important; padding:0 5px!important; width:58px!important; border-radius:2px!important;}
.oplata {display:inline-block; margin-top:0px; font-size:14px; margin-left:8px;}