#left_sidebar .news .title{ height:34px; line-height:34px; text-transform:uppercase; background:#cfcfcf; border-bottom:1px solid #b3b3b3; padding-left:28.25px; font-size:12px; text-shadow: 0px 1px 0px rgba(102, 102, 102, 1); color:#fff; font-weight:bold;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-top-left: 5px;
-moz-border-radius-top-right: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
#left_sidebar .news ul{ display:block; border-top:1px solid #fff; border-bottom:1px solid #b3b3b3; background:#f3f3f3; padding: 10px 14px 2px 14px;}
#left_sidebar .news li{ display:block; margin-bottom:12px; line-height:14px; font-size:12px; color:#999;}
#left_sidebar .news li a{ text-decoration:none; color:#676767; }
#left_sidebar .news li .intro{}

#left_sidebar .email_res{ position:relative;}
#left_sidebar .email_res .box{ text-align:center; height:58px; position:relative; border-top:1px solid #fff; z-index:10;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
background: rgb(186,187,189); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(186,187,189,1) 0%, rgba(199,200,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(186,187,189,1)), color-stop(100%,rgba(199,200,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(186,187,189,1) 0%,rgba(199,200,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(186,187,189,1) 0%,rgba(199,200,204,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(186,187,189,1) 0%,rgba(199,200,204,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(186,187,189,1) 0%,rgba(199,200,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#babbbd', endColorstr='#c7c8cc',GradientType=0 ); /* IE6-9 */}
#left_sidebar .email_res .box:before{ content:''; position:absolute; width:0px; height:0px; border-bottom:6px solid #BABBBD; border-left:8px solid transparent;border-right:8px solid transparent; top:-6px; left:50%; margin-left:-8px;}
#left_sidebar .email_res .title{ color:#999999; font-size:12px; line-height:12px; padding-top:7px;text-shadow: 0px 1px 0px rgba(235, 235, 237, 1); padding-bottom:5px;}
#left_sidebar .email_res input{ display:block; padding:0px 35px 0px 9px; font-size:12px; color:#80807f; width:90px; height:21px; border-radius:15px; margin:0px auto;position:relative; z-index:10; border:0px; font-style:italic;
background: rgb(200,200,200); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(200,200,200,1) 0%, rgba(221,221,221,1) 5%, rgba(231,231,233,1) 10%, rgba(239,239,239,1) 15%, rgba(255,255,255,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(200,200,200,1)), color-stop(5%,rgba(221,221,221,1)), color-stop(10%,rgba(231,231,233,1)), color-stop(15%,rgba(239,239,239,1)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(221,221,221,1) 5%,rgba(231,231,233,1) 10%,rgba(239,239,239,1) 15%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(221,221,221,1) 5%,rgba(231,231,233,1) 10%,rgba(239,239,239,1) 15%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(200,200,200,1) 0%,rgba(221,221,221,1) 5%,rgba(231,231,233,1) 10%,rgba(239,239,239,1) 15%,rgba(255,255,255,1) 99%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(200,200,200,1) 0%,rgba(221,221,221,1) 5%,rgba(231,231,233,1) 10%,rgba(239,239,239,1) 15%,rgba(255,255,255,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
#left_sidebar .email_res .email{ position:relative; display:inline-block; top:2px;}
#left_sidebar .email_res .email:after{ position:absolute; content:''; display:block; width:90px; height:21px; right:-2px; top:-2px; padding:2px 37px 2px 11px;border-radius:15px; z-index:1;
background: #b3b3b3; /* Old browsers */
background: -moz-linear-gradient(top,  #b3b3b3 0%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3b3b3), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b3b3b3 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b3b3b3 0%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b3b3b3 0%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b3b3b3 0%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}
#left_sidebar .email_res:after{ content:''; display:block; position:absolute; top: 56%; left: 0%; height: 35px; width: 100%; z-index:1; background: url(/images/shadow_menu.png) no-repeat center top;; background-size: 100%;}

#left_sidebar .email_res .email a:before{ content:""; display:block; width:23px; height:10px; background:url(/images/mail.svg) no-repeat center; position:absolute; top:7px; right:10px; background-size:100%;z-index:11; cursor:pointer;}

.main_slider{ width:556px; height:278px; float:left; border: 1px solid #f5f5f5;}
.main_slider .wrp{ position:relative;}
.main_slider .slide{ position:relative; width:554px; height:278px; }
.main_slider .wrp .slide > img { width: 555px!important; height: 278px!important;}
.main_slider .slide .descr{ position:absolute; width:100%; height:35px; bottom:0px; left:0px; background:rgba(167,169,172,0.50); color:#fff; line-height:35px;}
.main_slider .slide .descr .title{ padding-left:25px; font-size:18px; float:left; font-weight:normal;}
.main_slider .slide .descr .price{ padding-right:16px; font-size:21px; color:#fff; font-weight:bold; float:right;}

.catalog_block{ padding-top:32px; clear:both;}
.categoryPage .catalog_block{padding-top:19px;}
.catalog_filter{ width:605px; margin: 0; padding:0px 12px; height:22px; background:#f3f3f3; border-radius:4px; line-height:22px; position:relative;}
.catalog_filter ul{ display:block; border-left:1px solid #e6e6e6; border-right:1px solid #fff; width:100%; height:100%; position:relative; background:#f3f3f3; z-index:10;  }
.catalog_filter ul:after{ content:''; clear:both; display:block;}
.catalog_filter ul li{ display:block; float:left; border-right:1px solid #e6e6e6; border-left:1px solid #fff; width:119px; }
.catalog_filter ul li a{ color:#676767;  text-decoration:none; display:block; line-height:22px; text-align:center; width:100%; height:100%;}
.catalog_filter ul li a:hover{ color:#63acdc;}
.catalog_filter ul li a:active, .catalog_filter ul li.active a{ color:#676767; background:#f9f9f9; cursor: default; border-right: 1px solid #f9f9f9;}
.catalog_filter:after{ content:''; display:block; position:absolute; top:15px; left:0%; height:100%; width:100%; z-index:1; background: url(/images/shadow.png) no-repeat center top;; background-size: 90%;}

.pager{ height:20px; position:relative; margin-top:20px; margin-bottom:20px;}
.pager ul{ display:block;}
.pager ul:after{ content:''; display:block; clear:both; width:100%;}
.pager ul li{ float:left; display:block; margin-right:9px;}
.pager ul li a{ display:block; text-decoration:none; font-size:12px; line-height:15px; height:15px; width:15px; text-align:center; background:#f3f3f3; color:#676767; border:1px solid #e8e8e8; border-radius:4px; position:relative;}
.pager ul li.first a,.pager ul li.last a{ font-size:14px;}
.pager ul li.current a{ background:#fff;}
.pager ul li.prev a:before{ content:''; display:block; width:0px; height:0px; border:4px solid transparent; border-right:4px solid #696969; position:absolute; left:0px; top:4px;}
.pager ul li.next a:before{ content:''; display:block; width:0px; height:0px; border:4px solid transparent; border-left:4px solid #696969; position:absolute; right:0px; top:4px;}

.catalog{}
.catalog:after{ content:''; clear:both; display:block;}
.catalog .object{ position:relative; width:172px; height:113px; float:left; margin-right:20px; margin-bottom:20px;
-webkit-box-shadow: 0px 0px 5px 1px rgba(188, 188, 188, 1);
-moz-box-shadow:    0px 0px 5px 1px rgba(188, 188, 188, 1);
box-shadow:         0px 0px 5px 1px rgba(188, 188, 188, 1);}
.catalog .object a{ display:block; position:absolute; width:100%; height:100%;}
.catalog .object:hover a{ border:1px solid #64abd7; top:-1px; left:-1px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(99, 172, 220, 1);
-moz-box-shadow:    0px 0px 5px 0px rgba(99, 172, 220, 1);
box-shadow:         0px 0px 5px 0px rgba(99, 172, 220, 1);}
.catalog .object:nth-of-type(4n){ margin-right:0px;}
.catalog .object img{ display:block;}
.catalog .object .descr{ background:#fff; height:26px; line-height:26px; font-size:11px; color:#676767;}
.catalog .object .descr .title{ float:left; padding-left:5px;}
.catalog .object .descr .title .cell{ height:27px; display:table-cell; color:#9c9c9c; vertical-align:middle; line-height:11px;}
.catalog .object .descr .price{ float:right; padding-right:5px;}
.catalog .object .descr .price b{ font-size:12px;}

.catalog_block{ position:relative;}
.catalog_block .sorting{ position:absolute; right:0px; top:74px; font-size:12px; line-height:17px; padding-right:10px;}
.catalog_block .sorting .label{ display:inline-block; vertical-align:top; color:#808285}
.catalog_block .sorting .select{ position:relative; display:inline-block;vertical-align:top}
.catalog_block .sorting .select .count{ width: 32px;}
.catalog_block .sorting .select input{ padding:0px 20px 0px 5px; display:inline-block; height:18px; border:1px solid #bcbec0; font-size:11px; color:#bcbec0; border-radius:4px;font-family: 'Trebuchet MS', sans-serif;}
.catalog_block .sorting .select ul{ position:absolute; top:18px; left:0px; width:100%; color:#676767; background:#f9f9f9; display:none; z-index:1;}
.catalog_block .sorting .select ul li{ display:block; padding-left:5px; height:20px; line-height:20px; cursor:pointer;}
.catalog_block .sorting .select ul li:hover{ background:#F3f3f3;}
.catalog_block .sorting .select .ar{position:absolute; right:1px; top:1px; height:18px; width:18px; text-align:center; line-height:18px; cursor:pointer; color:#676767; background:#f3f3f3; font-size:8px; }

.categoryPage .slider{ width:100%; height:185px; position:relative;}
.categoryPage .slider .slide{ position:relative; width:369px; height:184px; overflow:hidden; float:left; margin-right:10px;}
.categoryPage .slider .slide:nth-of-type(2n){ margin-right:0px;}
.categoryPage .slider .slide .descr{ position:absolute; width:100%; height:23px; background:rgba(167,169,172,0.80); position:absolute; color:#fff; bottom:0px; left:0px; font-size:14px; line-height:23px;
-webkit-transition: bottom 0.5s ease-out 0.0s;
-moz-transition: bottom 0.5s ease-out 0.0s;
-o-transition: bottom 0.5s ease-out 0.0s;
transition: bottom 0.5s ease-out 0.0s;}
.categoryPage .slider .slide > img{width: 369px;}
.categoryPage .slider .slide:hover .descr{ bottom:-23px;}
.categoryPage .slider .slide .descr:after{ content:''; display:block; clear:both;}
.categoryPage .slider .slide .descr .title{ float:left; padding-left:15px;}
.categoryPage .slider .slide .descr .price{ float:right; padding-right:10px;}
.categoryPage .slider .slide .descr .price span{ font-weight:bold; margin-right:5px;}

#middle.gamePage{ width:556px; float:left; margin-right:20px;}
#middle.gamePage .slider{ width:555px; height:337px; padding-top:10px; margin-bottom:20px;}
#middle.gamePage .slider .mainimage{ }
#middle.gamePage .slider .mainimage img{ display:block; width:556px; height:278px;}
#middle.gamePage .slider .thumbs{ width:556px; height:54px; overflow:hidden; margin-top:4px;}
#middle.gamePage .slider .thumbs:after{ content:''; display:block; clear:both;}
#middle.gamePage .slider .thumbs .thumb{height:54px; float:left; margin-left:4px; cursor:pointer; background:#383838;}
#middle.gamePage .slider .thumbs .thumb:first-of-type{ margin-left:0px;}
#middle.gamePage .slider .thumbs .thumb img{ display:block; width:108px; height:54px;}
#middle.gamePage .slider .thumbs .thumb img:hover{ opacity:0.6;}

.page_filter{  padding:0px 10px; height:22px; background:#f3f3f3; border-radius:4px; line-height:22px; position:relative;}
.page_filter ul{ display:table; width:100%; height:22px; position:relative; border-right:1px solid #fff; border-left:1px solid #e6e6e6; background:#f3f3f3; z-index:10;  }
.page_filter ul li{ display:table-cell; min-width:25%; height:22px; border-right:1px solid #e6e6e6; border-left:1px solid #fff;}
.page_filter ul li a{ color:#676767;  text-decoration:none; display:block; line-height:22px; text-align:center; padding:0px 5px; white-space:nowrap;}
.page_filter ul li a:hover{ color:#63acdc;}
.page_filter ul li:active,.page_filter ul li.active{ border-right: 1px solid #f9f9f9;}
.page_filter ul li a:active,.page_filter ul li.active a{ color:#676767; background:#f9f9f9; cursor: default;}
.page_filter:after{ content:''; display:block; position:absolute; top:16px; left:0%; height:100%; width:100%; z-index:1; background: url(/images/shadow.png) no-repeat center top;; background-size: 100%;}

.content, .content_resume{ color:#999; line-height:14px; font-size:12px;}
.content > p > img {width: 168px; height: 28px;}
.more_next, #more_link{ color:#999; text-decoration: none; display: inline-block; border-bottom: 1px dashed;}
#more_link{margin-left: 4px;}
.more_next:after{ content:''; display:block; clear:both;}
.more{ color:#999; text-decoration: none; display: inline-block;}
.more:after{ content:''; display:block; clear:both;}
.more .item{  position: relative; width: 172px; height: 113px; float: left; margin-right: 20px; margin-bottom: 10px;
-webkit-box-shadow: 0px 0px 5px 1px rgba(188, 188, 188, 1);
-moz-box-shadow: 0px 0px 5px 1px rgba(188, 188, 188, 1);
box-shadow: 0px 0px 5px 1px rgba(188, 188, 188, 1);}
.more .item a{ display:block; position:absolute; width:100%; height:100%;}
.more .item:hover a{ border:1px solid #64abd7; top:-1px; left:-1px;  background:none;
-webkit-box-shadow: 0px 0px 5px 0px rgba(99, 172, 220, 1);
-moz-box-shadow:    0px 0px 5px 0px rgba(99, 172, 220, 1);
box-shadow:         0px 0px 5px 0px rgba(99, 172, 220, 1);}
.more .item:nth-of-type(4n){ margin-right:0px;}
.more .ttl{ color:#676767; margin-bottom:3px; font-size:12px;}
.more .item img{ display:block;}
.more .item .descr{ height:27px; background:#fff; color:#969696; font-size:10.5px;}
.more .item .descr .title{ float:left; padding-left:5px;}
.more .item .descr .title .cell{ display:table-cell; vertical-align:middle; line-height:11px; height:27px;}
.more .item .descr .price{ float:right; padding-right:5px; line-height: 27px;}
.more .item .descr .price strong{ color:#676767; font-size:12px; font-weight:bold;}

#game_sidebar .bay{height:34px; width:162px; padding:0 5px; background:#efefef; border-radius:2px;}
#game_sidebar .bay .price{ float:left; margin-top:3px; }
#game_sidebar .bay .price .cell{ display:table-cell; height:24px; vertical-align:middle; line-height:12px;text-align:right;}
#game_sidebar .bay .price .old{  color:#676767; font-size:9px;}
#game_sidebar .bay .price .old span{ font-size:14px;text-decoration:line-through;}
#game_sidebar .bay .price .new{ color:#969696; font-size:12px;}
#game_sidebar .bay .price .new span{ font-size:20px;}
#game_sidebar .bay input[type="button"]{ position:relative; margin-top:5px; margin-bottom:5px; margin-left:19px; width:83px;  display:inline-block; z-index:101}
#game_sidebar .instok{height:24px; padding:5px; padding-left:70px; border-radius:2px; font-size:12px; color:#969696; line-height:24px; background:#efefef url(/images/check.svg) no-repeat 18px 5px; margin-top:12px; background-size:auto 21px;}
#game_sidebar .params{ padding-right:17px; font-size:10.5px; line-height:12px; color:#A2A2A2;}
#game_sidebar .params p{ margin:15px 0;}
#game_sidebar .params strong{ display:block; color:#676767;}
#game_sidebar .params p span {display:none;}
#game_sidebar .reiting{ background:url(/images/reiting.svg) no-repeat left top; background-size:44px; height:48px; width:44px; margin-bottom:50px;}
#game_sidebar .social{ margin-bottom:45px;}
#game_sidebar .social a { display:block; height: 18px; margin-bottom:10px;}
#game_sidebar .social a img{ height:18px;}
.referals > a > img {width: 170px;}

.mypurchases{ color:#676767;}
.mypurchases .page_filter{ width:490px !important;}
.mypurchases .page_filter ul li{ min-width:115px;}
.purchases{ margin-top:30px;}
.purchases table{ width:748px; margin-bottom:30px;}
.purchases table th{ height:26px; text-align:left; padding:5px 17px; }
.purchases table th span.underline{ display:inline-block; border-bottom:dashed 1px #676767; cursor:pointer; line-height:12px;}
.purchases table tr:nth-of-type(2n+1){ background:#f7f7f7;}
.purchases table td{ padding:10px 17px;line-height:14px; vertical-align:text-top; height:14px;}
.purchases table td.title{ width:236px;}


.partnership{ color:#676767;}
.partnership .page_filter{ width:430px; padding:0 12px; margin-bottom:25px;}
.partnership .page_filter ul li{width:143px;}
.partnership .page_filter ul li a{ padding:0;}
.partnership .page_filter:after {
content: ''; display: block; position: absolute; top: 15px; left: 0; margin-left: 0px; height: 100%; width: 100%; z-index: 1; background: url(/images/shadow1.png) no-repeat center top; background-size: 100%; -webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-moz-border-radius:none;
border-radius: none;
}
.back a{ color:#676767;}
.back a:before{ content:''; display: inline-block; width:12px; height:14px; background:url(/images/back.svg) no-repeat left top; position:relative; top:4px;}
.calendar_filter form{ height:24px;}
.calendar_filter form label, .calendar_filter form input{ display:inline-block; margin:0px; line-height:22px; vertical-align:middle;height:22px; font-size:12px;}
.calendar_filter form input[type="text"]{ padding:0px 5px; width:60px; text-align:center;  margin-left:7px; border-radius:4px;}
.calendar_filter form input[type="submit"]{ margin-left:10px; height:24px;font-size:14px;}
.partnership .purchases table{ width:750px; margin-bottom:30px;}
.partnership .purchases table th{ height:26px; text-align:left; padding:5px 19px; }
.partnership .purchases table th span{ display:inline-block; border-bottom:dashed 1px #676767; cursor:pointer; line-height:12px;}
.partnership .purchases table tr:nth-of-type(2n+1){ background:#f7f7f7;}
.partnership .purchases table td{ padding:10px 20px;line-height:14px; vertical-align:text-top; height:14px; width:100px;}
.partnership .purchases table td.title{ width:362px;}
.partnership .purchases table.ref td.title{ width:455px;}

#middle.news_page{ width:556px; float:left;}
.news_page .news_banner img{ max-width:100%; display:block;}
#middle.news_page .news_banner{ margin-bottom:15px;}
#middle.news_page h1.title{ font-size:12px; color:#676767; float:left; margin-bottom:15px; width:485px;}
#middle.news_page .date{ font-size:12px; float:right; color:#999;}
#middle.news_page .info{ font-size:12px; line-height:14px; color:#999;}
#middle.news_page a{ color:#999;}
#middle.news_page a:hover{ color:#63acdc;}
#middle.news_page .backto{ display:inline-block; margin-top:40px; font-weight:bold; color:#999;}
#middle.news_page .newslist{ }
#middle.news_page .newslist .item{ margin-bottom:25px; }
#middle.news_page .newslist .item .prev{ width:172px; height:86px; float:left; margin-right:12px;}
#middle.news_page .newslist .item .prev img{ width:172px; display:block;}
#middle.news_page .newslist .item:hover .prev img{ opacity:0.8;}
#middle.news_page .newslist .item .prev a { background:#000; display:block; text-decoration:none;}
#middle.news_page .newslist .item .body{ width:370px; float:left;}
#middle.news_page .newslist .item .body .clr{ margin-bottom:15px;}
#middle.news_page .newslist .item .title{ line-height:12px; color:#676767; font-weight:bold; padding-right:15px;}
#middle.news_page .newslist .item .title a{ color:#676767; float:left;}
#middle.news_page .newslist .item:hover .title a{ color:#63acdc;}
#middle.news_page .newslist .item .intro{ line-height:12px; color:#969696;}

.page_filter ul#game_page li a{width:117px;}
.page_filter ul#game_page li:nth-child(3) a{width:136px;}
.pager_sort .sorting{top: 0;}
.product_letter{ padding-top:0px;}

#middle.forgot input[type="text"]{ margin-bottom:30px;}
#middle.forgot input[type="submit"]{ margin:0; font-size:19px;}

.rss .sorting .select { position: relative; display: inline-block; vertical-align: top;}
.rss .sorting .label{display: inline-block; vertical-align: top;}
.rss .sorting .select input{ padding:0px 20px 0px 5px; display:inline-block; width:212px; height:16px; border:1px solid rgb(231,231,231); font-size:12px; text-align:right; color:#bcbec0; border-top-left-radius:5px; border-bottom-left-radius: 5px; font-family: 'Trebuchet MS', sans-serif;}
.rss .sorting .select ul{ position:absolute; top:20px; left:0px; width:237px; height:36px; color:#bcbec0; background:#fff; display:none; z-index:1; border: 1px solid rgb(231,231,231);}
.rss .sorting .select ul li{ display:block; height:14px; padding-left:5px; padding-right:20px; text-align:right; line-height:20px; cursor:pointer;}
.rss .sorting .select ul li:hover{ color:#63acdc;}
.rss .sorting .select .ar{position:absolute; left:221px; top:4.2px; height:16px; width:16px; text-align:center; line-height:18px; border-left: 1px solid rgb(231,231,231); cursor:pointer; color:#676767; background:rgb(242,242,242); font-size:8px; }
.rss form{ margin-top:8px;}
.rss #middle  input[type="submit"]{font-size:19px;}